<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Type new chat...</h3>
    <form method="POST" action="/chats">
        <input placeholder="sender name" name="from" >
        <br><br>
        <input placeholder="to" name="to" >
        <br><br>
        <textarea name="msg" >Type your message here...</textarea>
        <br><br>
        <button>Create chat!</button>
    </form>
</body>
</html>